.Autocomplete__container {
  position: relative;
  text-align: left;
}

.Autocomplete__input-container {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 40px;
  cursor: text;
}

.Autocomplete__suggestion {
  color: #757575;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
}

.Autocomplete__input {
  font-size: 100%;
  padding: 0;
  border: none;
  outline: none;
  position: relative;
  background-color: transparent;
}

.Autocomplete__list {
  border: 1px solid gray;
  border-radius: 12px;
  padding: 1rem 1rem 1rem 40px;
  position: absolute;
  right: 0;
  left: 0;
  top: 2.5rem;
}

.Autocomplete__item--selected {
  color: red;
}
