.Autocomplete__container {
  position: relative;
  text-align: left;
}

.Autocomplete__search-container {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 40px;
  cursor: text;
  background-color: #fff;
  position: relative;
  z-index: 2;
  display: flex;
  gap: 0.5rem;
}

.Autocomplete__icon {
  width: 1rem;
}

.Autocomplete__input-container {
  flex: 1;
  position: relative;
}

.Autocomplete__suggestion {
  color: #757575;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
}

.Autocomplete__input {
  font-size: 100%;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  position: relative;
  background-color: transparent;
}

.Autocomplete__list {
  border: 1px solid gray;
  border-radius: 0 0 12px 12px;
  padding: 2.2rem 0 1rem;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  top: 50%;
  background-color: #fff;
  list-style: none;
}

.Autocomplete__item {
  padding: 8px 40px;
  cursor: pointer;
}

.Autocomplete__item:hover,
.Autocomplete__item--selected {
  background-color: #f2f2f2;
}
